<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>微信导航，最专业的建筑行业微信号导航(知筑导航)</title> 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <meta name="keywords" content="Archi123,微信导航,建筑导航,建筑微信号,建筑网址,建筑网站,建筑网址之家,知筑导航,知筑,微信123,设计机构,设计资讯,建筑资讯,建筑论坛,技术论坛,资源下载,建筑设计,灵感导航,BIM导航,建筑灵感,建筑界网址,建筑学,建筑设计院,免费建筑资料,互联网+建筑,建筑学网站">
    <meta name="description" content="微信导航，最专业的建筑行业微信号导航(知筑导航，最专业的建筑行业网址导航)。将建筑类微信公众号一网打尽，持续收录中。定期分享免费建筑资料，组织建筑界同城活动，打造新型建筑师之家。" >
</head>

<body>
    <% include ../header %>
        <section class="full-width">
            <div class="bs-docs-header c-bs-docs-header wcg-header">
                <div class="title">微信导航</div>
            </div>
        </section>
        <section class="full-width bg-black">
            <section class="contain">
                <ul class="wcg-cate">
                    <li class="active" data-ref="1"><a href="">最火微信</a></li>
                    <li data-ref="2"><a href="">期刊杂志</a></li>
                    <li data-ref="3"><a href="">赏析资讯</a></li>
                    <li data-ref="4"><a href="">建筑趣谈</a></li>
                    <li data-ref="5"><a href="">展览旅行</a></li>
                    <li data-ref="6"><a href="">设计创意</a></li>
                    <li data-ref="7"><a href="">设计机构</a></li>
                    <li data-ref="8"><a href="">干货分享</a></li>
                    <li data-ref="9"><a href="">教程干货</a></li>
                </ul>
            </section>
        </section>
        <section class="full-width bg-white">
            <section class="contain">
                <ul class="wcg-logo">
                    <% include ../logo/wechat_logo %>
                </ul>
            </section>
        </section>
        <section class="full-width bg-gray">
            <section class="contain wechatInfoPanel">
                <section class="wcg-leftPanel">
                    <% 
                        for (var i=0;i<articles.length;i++) {
                            var article = articles[i];
                    %>
                    <div class="wcg-gird">
                        <div class="left">
                            <img data-original="<%= article.icon_url%>" class="lazy">
                            <div class="nickName"><%= article.nickName%></div>
                        </div>
                        <div class="right">
                            <div class="img-wrap">
                                <a href="<%= article.url%>" target="_blank">
                                    <img data-original="<%= article.img_url%>" class="lazy">
                                </a>
                                <div class="hoverImg">
                                    <%= article.title%>
                                </div>
                            </div>
                            <div class="desc">
                                <div class="title"></div>
                                <div class><%= article.desc%></div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </section>
                <section class="wcg-rightPanel">
                    <div class="title">本月人气排行榜</div>
                    <ul class="popular-board">
                        <% 
                            for (var i=0;i<popular.length;i++) {
                                var item = popular[i];
                        %>
                        <li data-index="<%= i%>">
                            <a href="<%= item.url%>" target="_blank">
                                <img alt="" data-original="<%= item.img_url%>" class="lazy">
                                <div class="desc-contain">
                                    <div class="title"><%= item.title%></div>
                                    <div class="desc"><%= item.desc%></div>
                                </div>
                            </a>
                        </li>
                        <%}%>
                        <!-- <li data-index="2">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="3">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="4">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="5">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="6">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="7">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="8">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="9">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li>
                        <li data-index="10">
                            <a href="">
                                <img alt="" data-original="" class="lazy">
                                <div class="desc-contain">
                                    <div class="title">微信昵称</div>
                                    <div class="desc">这是一段简介</div>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </section>
            </section>
        </section>
        <section class="section">
            <div class="ad-container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="http://www.uzing.net/" target="_blank">
                                <img data-original="/img/ad_imgs/ad_huoli.jpg" class="lazy" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="http://www.archidogs.com/" target="_blank">
                                <img data-original="/img/ad_imgs/ad_jianzhuku.jpg" class="lazy"/>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="http://toutiao.archi123.com/" target="_blank">
                                <img data-original="/img/ad_imgs/ad_jianzhutoutiao.jpg" class="lazy"/>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="http://www.archi123.com/" target="_blank">
                                <img data-original="/img/ad_imgs/ad_wait.jpg" class="lazy"/>
                            </a>
                        </div>

                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-1"></div>
                </div>
            </div>
        </section>
        <% include ../footer %>
</body>

</html>
<script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='/js/lib/bootstrap.min.js'></script>
<script type="text/javascript" src="/js/lib/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/js/lib/swiper.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    new Swiper('.ad-container .swiper-container', {
        pagination: '.swiper-pagination-1',
        paginationClickable: true,
        autoplay: 3000,
        autoplayDisableOnInteraction: false
    });

    setTimeout(function(){
        $("img.lazy").lazyload({
            effect: "fadeIn", 
            // placeholder: "/img/loding.gif",
            placeholder: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC",
            failure_limit : 10,
            threshold : 200,
            skip_invisible : false
        });
    },1500);

    var _$wcg_logo = $(".wcg-logo");
    $(".wcg-cate").delegate("li", "click", function(e) {
        e.preventDefault();
        var _$this = $(this),
            _ref = _$this.data("ref");
        $.ajax({
            url:"/wcg/logo",
            type: "get",
            data:{
                ref:_ref
            }

        }).success(function(data){
            console.log(data);
            _$wcg_logo.html(data);        
            $("img.lazy").lazyload({
                effect: "fadeIn", 
                // placeholder: "/img/loding.gif",
                placeholder: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC",
                failure_limit : 10,
                threshold : 200,
                skip_invisible : false
            });
            _$this.addClass('active').siblings(".active").removeClass('active');
        }).error(function(){

        });
        // console.log(_$this.html());
    });

    var _timing = 0;
    $(".wcg-logo").delegate("li","mouseover",function(e){
        var _this = $(this);
        
        clearTimeout(_timing);
        _timing = setTimeout(function(){
            console.log("previewLength:"+$(".web-preview.active").length);
            var _find = _this.find(".web-preview");
            console.log("len:"+_find.find("img").attr("class")+" image:"+_find.data("hover_image"));
            
            _find.find("img").attr("src",_find.data("hover_image"));
            var _a = _this.find("a"),
                _containerWidth = _$wcg_logo.width(),
                _containerHeight = _$wcg_logo.height(),
                _left = _a.offset().left,
                _top = _a.offset().top,
                _itemWidth = _a.width();

            console.log("left:"+_left+" top:"+_top+" itemWidth:"+_itemWidth+" container:"+_containerWidth+" height:"+_containerHeight);
            if (_find.length>0) {
                _find.addClass("active");
                console.log("der:"+parseFloat(_containerWidth-_left-_itemWidth));
                var itemLeft = parseFloat(_containerWidth-_left-_itemWidth)<350 ? -360 : 100;
                var itemTop = 0;
                _find.css({
                    left: itemLeft,
                    top: itemTop
                })
                
            } else {
            }
        },500);
    }).mouseout(function(e){
        var _this = $(this);
        setTimeout(function(){
            $(".web-preview.active").removeClass("active");
        },500)
        
    });

    _$wcg_logo.mouseout(function(){
        $(".web-preview.active").removeClass("active");
    });
})
</script>
