<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <title>免费资料，最专业的建筑行业免费资料分享平台(知筑导航)</title> 
    <meta name="keywords" content="archi123,Archi123,建筑资料下载,免费建筑资料,建筑导航,建筑网址,建筑网址之家,知筑导航,互联网+建筑,BIM网址导航,建筑论坛网址,著名导航,知筑,建筑123,建筑界网址,建筑学,建筑设计院,免费建筑,资料免费送,建筑招聘,建筑学网站">
    <meta name="description" content="知筑导航，最专业的建筑行业网址导航。定期分享免费建筑资料，组织建筑界同城活动，打造新型建筑师之家。" >
</head>

<body>
    <% include ../header %>
    <section class="contain">
        <div class="bs-docs-header c-bs-docs-header">
            <div class="title">免费资料</div>
        </div>
    </section>
    <section class="contain">
        <div class="tool-cate-contain">
            <div class="tool-cate">
                <a class="content" href="#allDocs">
                    <div class="title">文本合集</div>
                    <img data-original="" alt="" class="lazy">
                </a>
            </div>
            <div class="tool-cate">
                <a class="content" href="#selectPictures">
                    <div class="title">精选图纸</div>
                    <img data-original="" alt="" class="lazy">
                </a>
            </div>
            <div class="tool-cate">
                <a class="content" href="#allModels">
                    <div class="title">模型合集</div>
                    <img data-original="" alt="" class="lazy">
                </a>
            </div>
            <div class="tool-cate">
                <a class="content" href="#selectMaterial">
                    <div class="title">精选素材</div>
                    <img data-original="" alt="" class="lazy">
                </a>
            </div>
            <div class="tool-cate">
                <a class="content" href="#softwareCourse">
                    <div class="title">软件教程</div>
                    <img data-original="" alt="" class="lazy">
                </a>
            </div>
        </div>
    </section>
    <section class="contain">
        <a class="doc-title" name="allDocs">文本合集</a>
        <div class="docs-contain">
            <% 
                for(var i=0;i<allDocs.length;i++){ 
                    var item = allDocs[i];
            %>
            <div class="doc">
                <div class="img-wrap">
                    <a href="<%= item.url%>" target="_blank">
                        <img data-original="<%= item.img%>" class="lazy">
                    </a>
                    <div class="hoverImg">
                        <%= item.hoverDesc%>
                    </div>
                </div>
                <div class="desc">
                    <div class="title"><%= item.title%></div>
                    <div class><%= item.desc%></div>
                </div>
            </div>
            <%}%>
        </div>
        <div class="doc-ad-container">
            <a href="http://toutiao.archi123.com/" target="_blank">
                <img data-original="/img/ad_imgs/ad_jianzhutoutiao.jpg" class="lazy"/>
            </a>
        </div>
    </section>
    <section class="contain">
        <a class="doc-title" name="selectPictures">精选图纸</a>
        <div class="docs-contain">
            <% 
                for(var i=0;i<selectPictures.length;i++){ 
                    var item = selectPictures[i];
            %>
            <div class="doc">
                <div class="img-wrap">
                    <a href="<%= item.url%>" target="_blank">
                        <img data-original="<%= item.img%>" class="lazy">
                    </a>
                    <div class="hoverImg">
                        <%= item.hoverDesc%>
                    </div>
                </div>
                <div class="desc">
                    <div class="title"><%= item.title%></div>
                    <div class><%= item.desc%></div>
                </div>
            </div>
            <%}%>
        </div>
        <div class="doc-ad-container">
            <a href="http://www.archidogs.com/" target="_blank">
                <img data-original="/img/ad_imgs/ad_jianzhuku.jpg" class="lazy"/>
            </a>
        </div>
    </section>
    <section class="contain">
        <a class="doc-title" name="allModels">模型合集</a>
        <div class="docs-contain">
            <% 
                for(var i=0;i<allModels.length;i++){ 
                    var item = allModels[i];
            %>
            <div class="doc">
                <div class="img-wrap">
                    <a href="<%= item.url%>" target="_blank">
                        <img data-original="<%= item.img%>" class="lazy">
                    </a>
                    <div class="hoverImg">
                        <%= item.hoverDesc%>
                    </div>
                </div>
                <div class="desc">
                    <div class="title"><%= item.title%></div>
                    <div class><%= item.desc%></div>
                </div>
            </div>
            <%}%>
            
        </div>
        <div class="doc-ad-container">
            <a href="http://www.archi123.com/" target="_blank">
                <img data-original="/img/ad_imgs/ad_wait.jpg" class="lazy"/>
            </a>
        </div>
    </section>
    <section class="contain">
        <a class="doc-title" name="selectMaterial">精选素材</a>
        <div class="docs-contain">
            <% 
                for(var i=0;i<selectMaterial.length;i++){ 
                    var item = selectMaterial[i];
            %>
            <div class="doc">
                <div class="img-wrap">
                    <a href="<%= item.url%>" target="_blank">
                        <img data-original="<%= item.img%>" class="lazy">
                    </a>
                    <div class="hoverImg">
                        <%= item.hoverDesc%>
                    </div>
                </div>
                <div class="desc">
                    <div class="title"><%= item.title%></div>
                    <div class><%= item.desc%></div>
                </div>
            </div>
            <%}%>
        </div>
        <div class="doc-ad-container">
            <a href="http://www.archi123.com/" target="_blank">
                <img data-original="/img/ad_imgs/ad_wait.jpg" class="lazy"/>
            </a>
        </div>
    </section>
    <section class="contain">
        <a class="doc-title" name="softwareCourse">软件教程</a>
        <div class="docs-contain">
            <% 
                for(var i=0;i<softwareCourse.length;i++){ 
                    var item = softwareCourse[i];
            %>
            <div class="doc">
                <div class="img-wrap">
                    <a href="<%= item.url%>" target="_blank">
                        <img data-original="<%= item.img%>" class="lazy">
                    </a>
                    <div class="hoverImg">
                        <%= item.hoverDesc%>
                    </div>
                </div>
                <div class="desc">
                    <div class="title"><%= item.title%></div>
                    <div class><%= item.desc%></div>
                </div>
            </div>
            <%}%>
        </div>
        <div class="doc-ad-container">
            <a href="http://www.archi123.com/" target="_blank">
                <img data-original="/img/ad_imgs/ad_wait.jpg" class="lazy"/>
            </a>
        </div>
    </section>

    <% include ../footer %>
</body>

</html>
<script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='/js/lib/bootstrap.min.js'></script>
<script type="text/javascript" src="/js/lib/jquery.lazyload.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("img.lazy").lazyload({
        placeholder: "/img/archi-logo.png",
        effect: "fadeIn"
    });

    $(".wcg-cate").delegate("li", "click", function(e) {
        e.preventDefault();
        var _$this = $(this);
        _$this.addClass('active').siblings(".active").removeClass('active');
        // console.log(_$this.html());
    });
})
</script>
